@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 31, 41, 55;
  --background-start-rgb: 243, 244, 246;
  --background-end-rgb: 243, 244, 246;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 243, 244, 246;
    --background-start-rgb: 30, 58, 138;
    --background-end-rgb: 13, 148, 136;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    );
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
  }
  body {
    font-family: 'Inter', sans-serif;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}